.company-indicator {
    padding: 20px 35px;
    min-width: 200;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-width: 210px;

    &__name {
        font-size: 20px;
        font-weight: bold;
    }

    &__update-at {
        font-weight: 600;
    }

    &__action {
        margin-top: 25px;
        display: flex;
        justify-content: center;

        > i {
            font-size: 25px;
            margin-right: 10px;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}