<div class="main-layout">
  <div class="main-layout__header">
    Happy
  </div>

  <div class="main-layout__search"
       [ngClass]="{'--isSearch': isSearchSuccess}">
    <div class="search-job-input">
      <input  nz-input
              [(ngModel)]="searchText"
              (keyup.enter)="enterSearch()"
              placeholder="Tìm job gì gõ đây nè . . ."
              nzSize="large" />
      
      <button nz-button
              nzType="primary"
              nzShape="circle"><i nz-icon nzType="search"></i></button>
    </div>


    <div class="search-suggestions">
      <nz-tag [nzColor]="'magenta'" (click)="onSuggestionTagClick('reactjs')">reactjs</nz-tag>
      <nz-tag [nzColor]="'magenta'" (click)="onSuggestionTagClick('angular')">angular</nz-tag>
      <nz-tag [nzColor]="'magenta'" (click)="onSuggestionTagClick('c#')">c#</nz-tag>
      <nz-tag [nzColor]="'magenta'" (click)="onSuggestionTagClick('QC')">QC</nz-tag>
    </div>

    <div class="search-web" *ngIf="isSearchSuccess">
      <div class="search-web__tab-header --active">
        Top CV
      </div>

      <div class="search-web__tab-header">
        Vietnamworks
      </div>
    </div>
  </div>
 
  <div class="main-layout__result"
       [ngClass]="{'--isSearch': isSearchSuccess}">
    <div class="search-result" *ngIf="topCvSearchResult.length">
      <div class="search-result__list">
        <div nz-row [nzGutter]="[25, 25]">
          <div nz-col  *ngFor="let item of topCvSearchResult">
            <app-company-indicator [company]="item"></app-company-indicator>
          </div>
        </div>
      </div>
    </div>

    <nz-empty *ngIf="!topCvSearchResult.length"></nz-empty>
  </div>

  <div class="main-layout__spin" *ngIf="isLoading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</div>
